body {
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-weight: 600;
    color: white;
}

.section-para {
    color: white;
    opacity: 1!important;
}

.slide-content-img {
    width: 500px; 
    height: 300px; 
    object-fit: cover; 
    object-position: 100% 0;
}